body {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
section {
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13%;
  justify-content: center;
  row-gap: 1rem;
  margin-bottom: 1.5%;
}

h1 {
  font-size: 2vw;
  text-align: center;
  color: #2196f3;
  animation:
    shick 2s 4.5s alternate,
    shick 2s 10s alternate,
    shick 2s 20s alternate,
    shick 2s 30s alternate,
    shick 2s 40s alternate,
    shick 2s 55s alternate;
  font-family: "Lobster", cursive;
}
@keyframes shick {
  from {
    transform: rotateY(360deg);
  }
}
.main {
  align-self: center;
  position: relative;
  width: 9vw;
  height: 16vh;
  margin: 0.5rem auto;
}

.face,
.back {
  position: absolute;
  cursor: pointer;
}
img {
  width: 100%;
  height: 18vh;
  border-radius: 1rem;
}
.back {
  width: 100%;
  height: 18vh;
  background-color: #ff5722;
  border-radius: 1rem;
  transition: 1s;
  color: transparent;
  transform: scaleX(0);
}

footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #607d8b;
  font-family: "Lobster", cursive;
  width: 50%;
  margin: 2rem auto;
  border-radius: 2rem;
  height: 10vh;
  background-color: #f0fd71;
}
.creator {
  position: absolute;
  bottom: 2%;
  left: -45%;
  font-size: 1.2vw;
  font-weight: bold;
  color: #3f51b5;
  font-family: "Lobster", cursive;
}
.restart {
  position: absolute;
  top: 15%;
  font-size: 1.1vw;
  font-weight: bold;
  color: #607d8b;
  font-family: "Lobster", cursive;
  cursor: pointer;
  animation: scale 2s infinite alternate;
  display: none;
}
@keyframes scale {
  to {
    transform: scale(1.1);
  }
}
.mistakes {
  position: absolute;
  font-size: 1.1vw;
  bottom: 13%;
  color: #3f51b5;
  font-family: "Lobster", cursive;
  display: none;
}
.mistakesnum {
  position: absolute;
  font-size: 1.5vw;
  bottom: 5%;
  left: 60%;
  color: #f57c00;
  font-family: "Lobster", cursive;
  display: none;
}
.won {
  font-size: 1.6vw;

  -webkit-background-clip: text;
  color: transparent;
  animation: move 1s infinite alternate;
  background-image: linear-gradient(
    90deg,
    rgba(0, 199, 236, 1) 0%,
    rgba(247, 29, 253, 1) 21%,
    rgba(247, 237, 9, 1) 100%
  );
  background-size: 200%;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  section {
    grid-template-columns: repeat(5, calc(95% / 5));
  }
  .main {
    width: 17vw;
  }
  .main {
    margin-bottom: -1rem;
  }
  .face,
  .back,
  img {
    border-radius: 0.7rem;
    height: 14vh;
  }

  footer {
    border-radius: 1rem;
    font-size: 0.5rem;
    text-align: center;
    margin: 1rem auto;
  }
  .creator {
    display: none;
  }
  .restart {
    font-size: 0.7rem;
  }
  .mistakes {
    font-size: 0.7rem;
  }
}
@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
    transform: scale(1.1);
  }
}
