body {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(210, 225, 246);
 
}
section {
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13%;
  justify-content: center;
  row-gap: 0.5rem;
  margin-bottom: 1.5%;
}
h1 {
  font-size: 2vw;
  text-align: center;
  color: rgb(255, 132, 0);
  animation: shick 2s 2s  alternate ,shick 2s 10s  alternate , shick 2s 20s  alternate,
  shick 2s 30s  alternate,shick 2s 40s  alternate , shick 2s 55s  alternate;
  font-family: 'Lobster', cursive;
 
}
@keyframes shick {
  from{
    transform: rotateY(360deg);
  }

}
.main {
  align-self: center;
  position: relative;
  width: 9vw;
  height: 16vh;
  margin: .5rem auto;
 
}
.face,
.back {
  position: absolute;
}
img {
  width: 100%;
  height: 18vh;
  border-radius:2rem ;
}
.back {
  width: 100%;
  height: 18vh;
  background-color:#42a3f2;
  border-radius: 2rem;
  transform: scaleX(0);
  transition: 1s;
  color: transparent;
}
footer{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
  font-size: 1.2vw;
  font-weight: bold;
  color: #3f51b5;
  font-family:  cursive;
  width: 50%;
  margin: auto;
  border-radius: 2rem;
  height: 10vh;
  background-color: #9fbac7;
  
}
.creator{
  position: absolute;
  bottom: 2%;
  left: -45%;
  font-size: 1.2vw;
  font-weight: bold;
  color:  #3f51b5;
  font-family: 'Lobster', cursive;
}
.restart{
  position: absolute;
  top: 15%;
  font-size: 1.1vw;
  font-weight: bold;
  color:  #5a6dd8;
  font-family: 'Lobster', cursive;
  cursor: pointer;
  animation: scale 2s infinite alternate ;
  display: none;
}
@keyframes scale {
  to{
    transform: scale(1.1);
  }
}
.mistakes{
  position: absolute;
  font-size: 1.1vw;
  bottom: 8%;
  color:#3f51b5;
  font-family: 'Lobster', cursive;
}